.red {
	color : red;
}
.orange {
	color : orange;
}
.yellow {
	color : yellow;
}
.yellow-green {
	color : #9bf442;
}
.green {
	color : green;
}

.logout {
	background-color: transparent;
	color: #9d9d9d;
	border : none;
	outline : none;
	margin-top : 11%;

}
.logout button:hover {
	color: #fefefe;
}



