
<div class="container">
	<div class="well">
		<h1>Welcome, {{vm.municipality.name}}</h1>
		
		<h2>Remaining Projects: <span class="label label-success">{{vm.caseItems.size}}</span></h2>
	</div>
	<div class="well">
		<table ng-show="vm.caseItems.size > 0" class="table table-striped well">
		  <thead>
		  	<tr>
		  	  <td>Project Name</td>
		  	  <td>Severity</td>
		  	  <td>description</td>
		  	  <td>Completed?</td>
		  	</tr>
		  </thead>
		  
		  <tbody>
		  	<tr ng-repeat="caseItem in vm.caseItems">
		  		<td>{{caseItem.title}}</td>
		  		<td>{{caseItem.severity}}</td>
		  		<td>{{caseItem.description}}</td>
		  		<td><input type="checkbox" value="{{vm.municipality.completed}}" ng-click="vm.markComplete(vm.municipality)"></td>
		  	</tr>
		  </tbody>
		
		</table>
	</div>
</div>