<navigation></navigation>
<div class="container" ng-init="vm.searchTab('case');">
	<div class="well" ng-hide="vm.selected || vm.selectedMunicipality">
		<button type="btn" class="btn btn-success" ng-hide="vm.createNew" ng-click="vm.createNew = true; vm.setLocation(); vm.getLocation(); ">Create New Case</button>
		<div ng-if="vm.createNew" ng-init="newCase = {};">
		<h1>Create a new issue item here</h1>
			<form enctype="multipart/form-data">
				
				<p><input type="text" class="form-control" placeholder="Name of Issue" ng-model="newCase.title"></p>
				<!-- <p>Description of issue:<br><input type="text" placeholder="Description" ><br> -->
				<textarea class="form-control" placeholder="Description"rows="4" ng-model="newCase.description"></textarea>
				<input type="file" name="file" ng-file="vm.file">
				<select ng-model="newCase.severity">
					<option value="" selected disabled hidden>Set Severity</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select><br>
				<select ng-model="newCase.municipalityId">
					<option value="" selected disabled hidden>Select Municipality</option>
					<option ng-repeat="municipality in vm.municipalities" value="{{municipality.id}}">{{municipality.name}}</option>
				</select><br>
				<!-- {{newCase}} -->
				<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.mapKey}}" class="well map">
					<ng-map id="createMap" center="current-location" zoom="15" ng-click="vm.addMarker()" ng-model="newCase.latLong = vm.marker">
				</ng-map>
				
				</div>
				
				<button type="btn" class="btn btn-info" ng-click="vm.create(newCase); vm.createNew = false; newCase = null;">Create</button>
				<button type="btn" class="btn btn-danger" ng-click="vm.createNew = false; newCase = null;">Cancel</button>
			</form>
		</div>
	</div>
	<div class="well" ng-hide="vm.selected || vm.selectedMunicipality">
	  <uib-tabset active="activeJustified" justified="true">
    	  <uib-tab index="0" ng-click="vm.searchTab('case');" heading="Search By Case">
    	  	<h3>Search By Case Item</h3>
		<input class="searchbar" type="search" placeholder="Search for Cases" ng-model="vm.search.name">
    	  </uib-tab>
    	  <uib-tab index="1" ng-click="vm.searchTab('munic');" heading="Search By Municipality">
    	  	<h3>Search By Municipality</h3>
		<input class="searchbar" type="search" placeholder="Search for Municipalities" ng-model="vm.search.name">
    	  </uib-tab>
  </uib-tabset>
	</div>
	
	<div class="well" ng-hide="vm.selected || vm.municipality;" ng-show="vm.searchResults.length > 0 && vm.caseItem == true;">
		<table class="table table-striped">
			<thead>
				<tr>
					<td><strong>Name</strong></td>
					<td><strong>Severity</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="result in vm.searchResults | filter:vm.search.name" ng-click="vm.selected=result; vm.showMessages(vm.selected.id); vm.applySelected(result);">
			<!-- added vm.showMessages passing it the vm.selected.id here -->
					<td>{{result.title}}</td>
					<td>{{result.severity}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="well" ng-hide="vm.selectedMunicipality || vm.caseItem;" ng-show="vm.municipalitySearchResults.length > 0 && vm.municipality == true;">
		<table class="table table-striped">
			<thead>
				<tr>
					<td><strong>Name</strong></td>
					<td><strong>State</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="result in vm.municipalitySearchResults | filter:vm.search.name" ng-click="vm.selectedMunicipality=result; vm.getCasesByMunicipality();">
					<td>{{result.name}}</td>
					<td>{{result.state}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	<div ng-if="vm.selected">
	<div class="continer well">
	<div class="row">
	<div class="col-md-6">
	<!-- FIX ALL THIS SHIT!!!! -->
		<h1><strong>Issue: </strong>{{vm.selected.title}} </h1>

		<h2><strong>Severity: </strong><span class="label label-success" ng-class="vm.setSeverityColor()">{{vm.selected.severity}}</span></h2>

		<h3><strong>Municipality: </strong>{{vm.selected.municipality.name}}</h3>
		
		<p><strong>Description: </strong>{{vm.selected.description}}</p>
			
		</div>
		<div class="col-md-6">	
		
			<h2>Specific Location Data</h2>
		
		<ul>
			<li><strong>Latitude: </strong>{{vm.selected.latitude}}</li>
			<li><strong>Longitude: </strong>{{vm.selected.longitude}}</li>
		</ul>
		
		
			</div>
			</div>
			
			
			
					<div class="row">
			<div class="col-md-6">
			<img src="{{vm.selected.photoUrl}}" class="img-thumbnail"/>
			
			</div>
			<div class="col-md-6">
						<!-- Maps Stuff -->
		<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.mapKey}}" id="userMessage">
		
		
			<ng-map id="map" center="[{{vm.selected.latitude}}, {{vm.selected.longitude}}]" zoom="9">
				<marker position="[{{vm.selected.latitude}}, {{vm.selected.longitude}}]"></marker>
			</ng-map>
		</div>
			
			
			</div>
			</div>
		
		<button type="btn" class="btn btn-info" ng-click="vm.selected = null;">Back</button>
		
		</div>
		
		<div class="container well">	
			
			
					<h1>Messages</h1>
				
					
					<button type="btn" class="btn btn-info" ng-click="vm.changeShowCreateMessageVariable()" ng-show="vm.showCreateMessage">Create A Message</button>
				
				
					<!-- Message Board Below -->
				 <div ng-hide="vm.showCreateMessage">
				 <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1" rows="3" ng-model="message.text"></textarea>
				
					<button type="btn" class="btn btn-info" ng-click="vm.createMessage(vm.selected.id, message);  vm.showMessages(vm.selected.id); vm.changeVariableToTrue(); message={}">Create</button>
					<button type="btn" class="btn btn-danger" ng-click="vm.changeVariableToTrue(); message={}">Don't Create</button>
				</div>
		
			<div id="messageBoard">
				<div class="panel panel-success" ng-repeat="message in vm.messages">
  						<div class="panel-heading">{{message.user.firstName}} {{message.user.lastName}} at {{message.createDate}}</div>
  						<div class="panel-body">{{message.text}}</div>
				</div>
	
		
			</div>
			<!--End of Message Board -->
		</div>
		
		</div>
	
	
	<div class="well" ng-show="vm.selectedMunicipality">
		<h2>{{vm.selectedMunicipality.name}}, {{vm.selectedMunicipality.state}}</h2>
		<div class="well">
			<h3>Remaining Projects in {{vm.selectedMunicipality.name}}</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Name</td>
						<td>Severity</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="caseItem in vm.selectedMunicipality.caseItems;">
						<td>{{caseItem.title}}</td>
						<td>{{caseItem.severity}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="btn" class="btn btn-info" ng-click="vm.selectedMunicipality = null; vm.casesByMunicipality = [];">Back</button>
	</div>
	</div>
</div>