<div class="container">
<!-- <ng-map center="[38,-77]" zoom="9"></ng-map> -->
	<div class="jumbotron">
		<h1>Welcome, {{vm.user.firstName}}!</h1>
		<h2>Your Remaining Projects: <span class="label label-success">{{vm.getNumCaseItems()}}</span></h2>
	</div>
	<div ng-show="vm.user.caseItems.size > 0" ng-hide = "vm.selected" ng-click="vm.showMessages(vm.selected.id)" class="container">
	<div class="row">
		<table class="table table-striped well">
		  <thead>
		  	<tr>
		  	  <th>Project Name</th>
		  	  <th>Severity</th>
		  	  <th>Description</th>
		  	  <th>Completed?</th>
		  	</tr>
		  </thead>
		  
		  <tbody>
		  	<tr ng-repeat="caseItem in vm.caseItems" ng-click="vm.applySelected(caseItem)">
		  		<td>{{caseItem.title}}</td>
		  		<td>{{caseItem.severity}}</td>
		  		<td>{{caseItem.description}}</td>
		  		<td>{{caseItem.done}}</td>
		  	</tr>
		  </tbody>
		
		</table>
	</div>
	</div>
	
	<div ng-if="vm.selected">
	<div class="container well" >
	<div class="row">
		<div class="col-md-6">
		<h1><strong>Issue: </strong>{{vm.selected.title}} </h1>

		<h2><strong>Severity: </strong><span class="label label-success" ng-class="vm.setSeverityColor()">{{vm.selected.severity}}</span></h2>

		<h3><strong>Municipality: </strong>{{vm.selected.municipality.name}}</h3>
		
		<p><strong>Description: </strong>{{vm.selected.description}}</p>
			
		
	
		</div>
		<div class="col-md-6">
		
		
		<h2>Specific Location Data</h2>
		
		<ul>
			<li><strong>Latitude: </strong>{{vm.selected.latitude}}</li>
			<li><strong>Longitude: </strong>{{vm.selected.longitude}}</li>
		</ul>
		
		
			</div>
			</div>
			
			<div class="row">
			<div class="col-md-6">
			<img src="{{vm.selected.photoUrl}}" class="img-thumbnail"/>
			
			</div>
			<div class="col-md-6">
						<!-- Maps Stuff -->
		<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.mapKey}}" id="userMessage">
		
		
			<ng-map id="map" center="[{{vm.selected.latitude}}, {{vm.selected.longitude}}]" zoom="9">
				<marker position="[{{vm.selected.latitude}}, {{vm.selected.longitude}}]"></marker>
			</ng-map>
		</div>
			
			
			</div>
			</div>
				<button type="btn" class="btn btn-info" ng-click="vm.selected = null;">Back</button>
			</div>
			
			<div class="container well">
				<!-- MESSAGE STUFF -->
			
					<h1>Messages</h1>
				
					
					<button type="btn" class="btn btn-info" ng-click="vm.changeShowCreateMessageVariable()" ng-show="vm.showCreateMessage">Create A Message</button>
				
				
					<!-- Message Board Below -->
				 <div ng-hide="vm.showCreateMessage">
				 <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1" rows="3" ng-model="message.text"></textarea>
				
					<button type="btn" class="btn btn-info" ng-click="vm.createMessage(vm.selected.id, message);  vm.showMessages(vm.selected.id); vm.changeVariableToTrue(); message={}">Create</button>
					<button type="btn" class="btn btn-danger" ng-click="vm.changeVariableToTrue(); message={}">Don't Create</button>
				</div>
			
			<div id="messageBoard">
			
				<div class="panel panel-success" ng-repeat="message in vm.messages">
  						<div class="panel-heading">{{message.user.firstName}} {{message.user.lastName}} at {{message.createDate}}</div>
  						<div class="panel-body">{{message.text}}</div>
				</div>
				</div>
			
			
			
			
		<!-- 	
			<table>
				<tr ng-repeat="message in vm.messages">			
					<td><div>{{message.user.firstName}} {{message.user.lastName}}:  {{message.text}}<br><br> </div></td>
				</tr>	
				
			</table>
			</div>
			
				<table class="table table-striped">
			<tr ng-repeat="message in vm.messages">
				<td>{{message.text}}</td>
			</tr>
		</table> -->
			
			
			
			
		</div>
	
	
		<!-- <div id="messageBoard">
			<table>
				<tr ng-repeat="message in vm.messages">			
					<td><div>{{message.user.firstName}} {{message.user.lastName}}:  {{message.text}}<br><br> </div></td>
				</tr>	
			</table>
			</div> -->


		
	
	
	<!-- Maps stuff -->
	
	
		<!-- MESSAGES -->
		<!-- <ul>
			<li ng-repeat="messages in vm.messages">{{messages.text}}</li>
		</ul> -->
		</div>
		
</div>